    .right-contents{
      height: 100%;
      width: calc(100% - 300px);
      // background-color: #AAAAAA;
      float: right;
      &__title{
        height: 15%;
        width: 100%;
        background-color: white;
        border: 1px solid #eeeeee;


        &--group-title{
          padding: 35px 0 15px 40px;
          font-size: 20px;
          color: #333333;
          float:left;
        }
        &--edit{
          height: 30px;
          border: 1px solid blue;
          background-color: blue;
          padding: 10px 20px;
          float:right;
          margin: 28px 50px 0 0;
          p{
            color: white;
          }
        }
        &--group-member{
          font-size: 12px;
          color: #999999;
          padding-left: 40px;
          float: left;
          clear: both;
        }
      }
      &__messages{
        height: 70%;
        width: 100%;
        overflow: auto;
        .messages{
        width: 100%;
        float: right;
          &__member{
            font-size: 20px;
            color: #434A54;
            padding: 46px 0 0 40px;
            float: left;
          }
          &__date{
            font-size: 12px;
            color: #999999;
            padding: 50px 0 0 10px;
            float: left;
          }
          &__comments{
            font-size: 14px;
            color: #434A54;
            clear: both;
            padding-left: 40px;
            &--text{
            }
          }
        }
      }
      &__post{
        height: 10%;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 15px 0;
        background-color: #AAAAAA;
          &--text{
            height: 80px;
            width: 60%;
            margin-left: 40px;
            background-color: white;
            .form__message{
              height: 76px;
              width: 900px;
              font-size: 16px;
            }
            .item{
              color: blue;
              display: inline-block;
              margin: 20px;
              z-index: 1;
              position: absolute;
              left: 60%;
              bottom: 25px;
            }
            .hidden{
                display:none;
              }
          }
        .form__submit{
          position: absolute;
          left: 68%;
          bottom: 15px;
          height: 78px;
          width: 100px;
          border: 1px solid blue;
          background-color: blue;
          color: white;
          padding: 10px 20px;
          float:right;
          margin: 28px 40px 0 0;
          }
      }
    }
